@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

.sidebar-chat{
    display: flex;
    padding: 15px;
    cursor: pointer;
    border-bottom: 1px solid  rgba(0,0,0,0.25);
    position: relative;
    align-items: center;
    font-family: 'Montserrat';
    font-weight: 100;

}

.sidebar-chat:hover{
    background-color: #3a3b3c;
}


.sidebar-chat-info{
    margin-left: 15px;
}
.sidebar-chat-info>h2{
    font-size: 16px;

    color: #e4e6eb;
}
.sidebar-chat-info>p{
    color:#bbdfc8;
    font-size: 14px;
    margin-top: 3px;
}

.sidebar-chat span{
    font-size: 10px;
    color: aliceblue;
    position: absolute;
 
    top:27%;
    left: 60%;
  
  
}
