.chat{
    display: flex;
    flex-direction: column;
    width: 65%;
}

.chat-header{
    padding:20px;
    display: flex;
    align-items: center;
    background-color: #3a3b3c;
    border-bottom: 1px solid   rgba(0,0,0,0.25);
    height: 20px;
}



.chat__body{
    flex: 1;
    background-image: url('https://i.pinimg.com/originals/85/ec/df/85ecdf1c3611ecc9b7fa85282d9526e0.jpg');
    background-repeat: repeat;
    background-position: center;
    padding: 30px;
    overflow: auto;
}




.chat-footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 62px;
    border-top:  1px solid   rgba(0,0,0,0.25);
    background-color: #282828;
    z-index: 5;
}

.chat-footer >form{
    flex: 1;
    display: flex;
    
}

.chat-footer >form >input{
    flex: 1;
    border-radius: 30px;
    padding: 10px;
    border: none;
    background-color: #404040;
    outline: none;
    color: lightgray;
}

.chat-footer>form>button{
    display: none
}

.chat-footer > .MuiSvgIcon-root{
    padding: 10px;
    color: gray;
}


.chat-options{
    position: absolute;
    width: 150px;
    height: 84px;

    display: flex;
    flex-direction: column;
    top:10%;
    left: 86%;
    right: 0;
    bottom: 0;
    z-index: 4;
    background-color:#3a3b3c ;
    transform: scale(0);
    transform-origin: top right;
    transition: 0.2s;
    box-shadow: 0px 0px 8px 8px #201f1f;
 
}

.chat-options.show-options{
    transform: scale(1);
}

.date-group{
    margin: 10px;
    color: #e4e6eb;
    font-size: 12px;
    align-self: center;
    padding:10px;

    border-radius: 10px;
    background-color: #282828;
}


