.profile-option{
    display: flex;
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid  rgba(0,0,0,0.25);
    justify-content: center;
    align-items: center;
    color: #e4e6eb;
}

.profile-option:hover{
    background-color: #242526;
}